:root {
  --ansi-0: #21252b;
  --ansi-1: #e06c75;
  --ansi-2: #98c379;
  --ansi-3: #e5c07b;
  --ansi-4: #61afef;
  --ansi-5: #c678dd;
  --ansi-6: #56b6c2;
  --ansi-7: #abb2bf;
  --ansi-8: #767676;
  --ansi-9: #e06c75;
  --ansi-10: #98c379;
  --ansi-11: #e5c07b;
  --ansi-12: #61afef;
  --ansi-13: #c678dd;
  --ansi-14: #56b6c2;
  --ansi-15: #abb2bf;
  --background: #21252b;
  --foreground: #abb2bf;
  --cursor: #abb2bf;
  --cursor-text: #21252b;
  --selection-background: #323844;
  --selection-foreground: #abb2bf;
}
