:root {
  --ansi-0: #181818;
  --ansi-1: #810009;
  --ansi-2: #48513b;
  --ansi-3: #cc8b3f;
  --ansi-4: #576d8c;
  --ansi-5: #724d7c;
  --ansi-6: #5c4f4b;
  --ansi-7: #aea47f;
  --ansi-8: #555555;
  --ansi-9: #ac3835;
  --ansi-10: #a6a75d;
  --ansi-11: #dcdf7c;
  --ansi-12: #3097c6;
  --ansi-13: #d33061;
  --ansi-14: #f3dbb2;
  --ansi-15: #f4f4f4;
  --background: #191c27;
  --foreground: #aea47a;
  --cursor: #92805b;
  --cursor-text: #181818;
  --selection-background: #172539;
  --selection-foreground: #aea47f;
}
