:root {
  --ansi-0: #000000;
  --ansi-1: #f56e7f;
  --ansi-2: #bec975;
  --ansi-3: #f58669;
  --ansi-4: #42d9c5;
  --ansi-5: #d286b7;
  --ansi-6: #37cb8a;
  --ansi-7: #d5c3c3;
  --ansi-8: #88847f;
  --ansi-9: #e5a1a3;
  --ansi-10: #e8d6a7;
  --ansi-11: #f1bb79;
  --ansi-12: #80c5de;
  --ansi-13: #b294bb;
  --ansi-14: #9dccbb;
  --ansi-15: #ffffff;
  --background: #181818;
  --foreground: #d5d0c9;
  --cursor: #efc4cd;
  --cursor-text: #181818;
  --selection-background: #363636;
  --selection-foreground: #d5d0c9;
}
