:root {
  --ansi-0: #1a1a1a;
  --ansi-1: #f4005f;
  --ansi-2: #98e024;
  --ansi-3: #fa8419;
  --ansi-4: #9d65ff;
  --ansi-5: #f4005f;
  --ansi-6: #58d1eb;
  --ansi-7: #c4c5b5;
  --ansi-8: #625e4c;
  --ansi-9: #f4005f;
  --ansi-10: #98e024;
  --ansi-11: #e0d561;
  --ansi-12: #9d65ff;
  --ansi-13: #f4005f;
  --ansi-14: #58d1eb;
  --ansi-15: #f6f6ef;
  --background: #1a1a1a;
  --foreground: #c4c5b5;
  --cursor: #f6f7ec;
  --cursor-text: #c4c5b5;
  --selection-background: #343434;
  --selection-foreground: #c4c5b5;
}
