:root {
  --ansi-0: #011627;
  --ansi-1: #d3423e;
  --ansi-2: #2aa298;
  --ansi-3: #daaa01;
  --ansi-4: #4876d6;
  --ansi-5: #403f53;
  --ansi-6: #08916a;
  --ansi-7: #7a8181;
  --ansi-8: #7a8181;
  --ansi-9: #f76e6e;
  --ansi-10: #49d0c5;
  --ansi-11: #dac26b;
  --ansi-12: #5ca7e4;
  --ansi-13: #697098;
  --ansi-14: #00c990;
  --ansi-15: #989fb1;
  --background: #ffffff;
  --foreground: #403f53;
  --cursor: #403f53;
  --cursor-text: #fbfbfb;
  --selection-background: #f2f2f2;
  --selection-foreground: #403f53;
}
