:root {
  --ansi-0: #d6d6d6;
  --ansi-1: #874e42;
  --ansi-2: #677940;
  --ansi-3: #b89058;
  --ansi-4: #8ba1bf;
  --ansi-5: #aa759f;
  --ansi-6: #3e5f66;
  --ansi-7: #151515;
  --ansi-8: #2b2b2b;
  --ansi-9: #637786;
  --ansi-10: #677940;
  --ansi-11: #b89058;
  --ansi-12: #c6d5de;
  --ansi-13: #aa759f;
  --ansi-14: #ccdec6;
  --ansi-15: #373737;
  --background: #e1e1e1;
  --foreground: #151515;
  --cursor: #151515;
  --cursor-text: #d0d0d0;
  --selection-background: #c6d5de;
  --selection-foreground: #151515;
}
