:root {
  --ansi-0: #26233a;
  --ansi-1: #eb6f92;
  --ansi-2: #31748f;
  --ansi-3: #f6c177;
  --ansi-4: #9ccfd8;
  --ansi-5: #c4a7e7;
  --ansi-6: #ebbcba;
  --ansi-7: #e0def4;
  --ansi-8: #6e6a86;
  --ansi-9: #eb6f92;
  --ansi-10: #31748f;
  --ansi-11: #f6c177;
  --ansi-12: #9ccfd8;
  --ansi-13: #c4a7e7;
  --ansi-14: #ebbcba;
  --ansi-15: #e0def4;
  --background: #191724;
  --foreground: #e0def4;
  --cursor: #e0def4;
  --cursor-text: #191724;
  --selection-background: #403d52;
  --selection-foreground: #e0def4;
}
