:root {
  --ansi-0: #002831;
  --ansi-1: #d11c24;
  --ansi-2: #6cbe6c;
  --ansi-3: #a57706;
  --ansi-4: #2176c7;
  --ansi-5: #c61c6f;
  --ansi-6: #259286;
  --ansi-7: #eae3cb;
  --ansi-8: #006488;
  --ansi-9: #f5163b;
  --ansi-10: #51ef84;
  --ansi-11: #b27e28;
  --ansi-12: #178ec8;
  --ansi-13: #e24d8e;
  --ansi-14: #00b39e;
  --ansi-15: #fcf4dc;
  --background: #001e27;
  --foreground: #9cc2c3;
  --cursor: #f34b00;
  --cursor-text: #002831;
  --selection-background: #003748;
  --selection-foreground: #7a8f8e;
}
