:root {
  --ansi-0: #2f3239;
  --ansi-1: #e85c51;
  --ansi-2: #7aa4a1;
  --ansi-3: #fda47f;
  --ansi-4: #5a93aa;
  --ansi-5: #ad5c7c;
  --ansi-6: #a1cdd8;
  --ansi-7: #ebebeb;
  --ansi-8: #4e5157;
  --ansi-9: #eb746b;
  --ansi-10: #8eb2af;
  --ansi-11: #fdb292;
  --ansi-12: #73a3b7;
  --ansi-13: #b97490;
  --ansi-14: #afd4de;
  --ansi-15: #eeeeee;
  --background: #152528;
  --foreground: #e6eaea;
  --cursor: #e6eaea;
  --cursor-text: #152528;
  --selection-background: #293e40;
  --selection-foreground: #e6eaea;
}
