:root {
  --ansi-0: #1b1d2b;
  --ansi-1: #ff757f;
  --ansi-2: #c3e88d;
  --ansi-3: #ffc777;
  --ansi-4: #82aaff;
  --ansi-5: #c099ff;
  --ansi-6: #86e1fc;
  --ansi-7: #828bb8;
  --ansi-8: #444a73;
  --ansi-9: #ff757f;
  --ansi-10: #c3e88d;
  --ansi-11: #ffc777;
  --ansi-12: #82aaff;
  --ansi-13: #c099ff;
  --ansi-14: #86e1fc;
  --ansi-15: #c8d3f5;
  --background: #222436;
  --foreground: #c8d3f5;
  --cursor: #c8d3f5;
  --cursor-text: #222436;
  --selection-background: #2d3f76;
  --selection-foreground: #c8d3f5;
}
